*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: size 17px;
    line-height: 1.6;
}

#showcase{
    background-image: url('../img/lava.jpg.jpg');
    background-size:cover;
    background-position:center;
    height: 100vh;
}